.dx-datagrid-total-footer > .dx-datagrid-content {
    padding: 0;
}

.dx-datagrid-total-footer.dx-datagrid-nowrap {
    background-color: #f5f5f5;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap td{
    border-left: 1px solid #dedede;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap td div{
    font-size: 13px;
    color: #333;
    font-weight: 500;
}

