html {
    height: 100%;
}
body {
    min-height: 100%;
}

/* Edit 모드 */
.dx-datagrid-focus-overlay {
    border: transparent;
}
.dx-datagrid-rowsview .dx-data-row .dx-cell-modified .dx-highlight-outline::after {
    border: transparent;
}
.dx-datagrid-rowsview .dx-row-removed > td {
    background-color: unset;
    border: 1px solid #dedede;
}

/* 컬럼만 있을 때 생기는 빈 행 숨김 */
.dx-freespace-row td {
    border-color: transparent!important
}

/* Footer */
.dx-datagrid-total-footer > .dx-datagrid-content {
    padding: 0;
}

.dx-datagrid-total-footer.dx-datagrid-nowrap {
    background-color: #f5f5f5;
    border-top: 0;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap td{
    border-left: 1px solid #dedede;
}
.dx-datagrid-total-footer.dx-datagrid-nowrap td div{
    font-size: 13px;
    color: #333;
    font-weight: 500;
}

/* SelectBox */
.dx-row-focused .dx-selectbox .dx-texteditor-input  {
    background-color: #f1f8ff;
}
.dx-row-focused .dx-focused .dx-texteditor-input  {
    background-color: #fff;
}




/**/

.dx-datagrid-header-panel {
    border: transparent;
}
.dx-datagrid {
    border: transparent;
}
.dx-datagrid-content .dx-datagrid-table .dx-row > td div {
    font-family: Roboto;
    /*height: 100%;*/
    overflow: visible;
}
.dx-datagrid-content .dx-datagrid-table .dx-row > td {
    font-weight: normal;
    vertical-align: middle;
    line-height: 25px;
    padding: unset;
    height: 0px;
    border: 1px solid #dedede;
    border-collapse: collapse;
    overflow: visible;
}

.dx-datagrid-rowsview {
    border-top: unset;
}
.dx-datagrid-rowsview .dx-texteditor-input, .dx-datagrid-headers .dx-texteditor-input {
    min-height: 25px;
}
.dx-datagrid-headers {
    border-bottom: unset;
}

.dx-checkbox-container{
    height: 18px;
    width: 18px;
    line-height: 18px;
}
.dx-checkbox-indeterminate .dx-checkbox-icon:before {
    content: unset;
}
.dx-datagrid-checkbox-size .dx-checkbox-icon {
    height: 16px;
    width: 16px;
}
.dx-checkbox-checked .dx-checkbox-icon:before {
    margin-top: unset;
    margin-left: unset;
    top: unset;
    left: unset;
}

.dx-dropdowneditor-button {
    width: 25px;
    border-radius: 0px;
}
.dx-dropdowneditor-icon {
    background-image: url("/css/devextreme/icons/ico-down.png");
    width: 23px;
    border-radius: 0;
    height: 23px;
}
.dx-dropdowneditor-icon:before {
    content: unset;
}
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
    background-color: unset;
}
.dx-dropdowneditor-input-wrapper.dx-selectbox-container div.dx-texteditor-container div.dx-texteditor-buttons-container {
    background-color: #e1e1e1;
    border-radius: unset;
    outline: 1px solid #c8c8c8;
    width: 25px;
    height: 25px;
    right: -1px;
}

.dx-list-item-content {
    font-family: Roboto;
    font-size: 12px;
}

.dx-selectbox {
    margin: unset;
}
.dx-selectbox input[type=text] {
    height: 25px;
    line-height: 25px;
    min-height: 25px;
}

.dx-selectbox-container .dx-texteditor-container {
    border: transparent;
    line-height: 19px;
}

.dx-texteditor-container input[type=text] {
    width: 100%;
    padding: 0 10px;
    height: inherit;
    line-height: inherit;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > td, .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > tr > td {
    border-bottom-color: #dedede;
    border-top-color: #dedede;
    min-height: 25px;
}

.dx-highlight-outline {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) > tr > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-edit-row) .dx-command-edit .dx-link {
    border-bottom-color: #dedede;
    border-top: 1px solid #dedede;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
    /*border-bottom: transparent;*/
}

.dx-datagrid-checkbox-size {
    height: 18px !important;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
    border-left: 1px solid #dedede;
}

.dx-datagrid-content .dx-datagrid-table .dx-header-row > td {
    border-top : transparent;
}

.dx-datagrid-headers .dx-datagrid-content {
    border-top: 1px solid #333;
}
.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-dropdowneditor {
    margin-left: unset;
    border-radius: unset;
    border-right: 1px solid #c8c8c8;
    padding-left: 0px;
}
.dx-popup-wrapper > .dx-overlay-content {
    border-radius: unset;
    /*border: unset;*/
}
.dx-dropdownlist-popup-wrapper .dx-popup-content {
    padding: 0px;
    border: 1px solid #c8c8c8;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td {
    padding-right: 10px;
    padding-left: 10px;
}

.dx-texteditor-input {
    font-size: 13px;
}

.dx-widget input, .dx-widget textarea {
    font-family: Roboto, sans-serif;
}

/* help btn */
div[title="helpBtn"] {
    width: 25px;
    height: 25px;
    border-radius: 0;
    margin: 0 !important;
}
div[title="helpBtn"] > div.dx-button-content {
    padding: 0px !important;
}

.button-invisible {
    display: none;
}